.inputTextContainer{
width:200px;
gap: 20px;
height:25px;
border: 2px solid;
 border-color: aqua; 
}
.schoolDataContainer{
    display:'flex';
   flex-direction: row;
   row-gap: 20px;
   gap:10px;
   /* row-gap: 10px; */
   padding-top: 20px;
   padding-left: 30px;
}
.formContainer{
    width:100%;
    height:500px;
   background-color: whitesmoke;
}
.oneContainer{
    width: 594px;
    /* height:25px; */
    padding-top: 20px;
    padding-left: 30px;

}
.aloneInput{
    width: 635px;
    /* height:5px; */
    padding-top: 10px;
  
   
    border: 2px solid;
    border-color: aqua;
}
