.submitBtnContainer {
    display: flex;
    flex: 0.5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    /* padding-left: 20px; */
    /* padding-bottom: 20px; */
}